//// Default colors ////
//// Element styles ////
html,
body {
    background-color: black;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}

iframe {
    height: 29vh;
    margin: 0 auto;
    max-width: 50vw;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

//// Spacing classes ////
.thumbnail {
    height: 5vw;
    width: 5vw;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    text-align: center;
}

.hinge {
    height: 5vh;
    background-color: black;
    background: linear-gradient(to bottom, #111, black);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.half {
    height: 45vh;
    margin: 0 auto;
}

.top {
    background: linear-gradient(to top, black, #111 2%, black);
    display: flex;
    align-items: center;
}

.bottom {}

.flex-row {
    display: flex;
    flex-direction: row-wrap;
    align-items: center;
}

.screen {
    background-color: white;
    background: linear-gradient( to top left, #aac, #fff 15%, #ccd 20%, #fff 50%, #fff 70%, #aac);
    color: black;
    height: 30vh;
    margin: 5vh auto;
    max-width: 75%;
    width: 50vw;
    overflow-y: auto;
    h2 {
        text-align: center;
    }
    iframe {
        display: block;
        margin: 0 auto;
    }
}

.controls {
    margin: 0 auto;
    width: 20vw;
    text-align: center;
}

.start {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 3em;
    margin-bottom: 0;
}

//// Button styles ////
button {
    background-color: black;
    border-color: #999;
    box-shadow: 1px 2px #333;
    color: #999;
    cursor: pointer;
}

.square {
    border-radius: 5px;
    box-shadow: 0 0 black;
    padding: 0.5em 0.75em;
}

.round {
    background: linear-gradient(to bottom, #111, black);
    border: 1px solid #777;
    border-radius: 50px;
    font-weight: bold;
    margin: 0.25em 0.5em;
    padding: 0.5em 0.75em;
}

.ctrl {
    background: linear-gradient(to bottom, #111, black);
    border-radius: 50px;
    font-size: 0.75em;
    font-variant: small-caps;
    padding: 0 1em;
}

.lr {
    background-color: black;
    background: linear-gradient(to bottom, #111, black);
    border: 3px outset #777;
    border-radius: 10px;
    color: #777;
    font-weight: bold;
    height: 5vh;
    margin: 0 2vw;
    width: 10vw;
}

.invisible {
    border: none;
    color: black;
}

.visible {
    border: none;
    color: #444;
}

#upbtn {
    border-bottom: none;
    margin-top: 1em;
}

#downbtn {
    border-top: none;
    margin-bottom: 1em;
}

#leftbtn {
    border-right: none;
    margin-left: 1em;
}

#rightbtn {
    border-left: none;
    margin-right: 1em;
}

//// Styling for different types of content ////
.content {
    color: green;
    padding: 0 1em;
    h1,
    h2 {
        margin: 0.5em;
    }
}

.linklist {
    color: blue;
    margin: 0 auto;
    li {
        cursor: pointer;
        padding: 0.5em 2em;
        text-decoration: underline;
    }
    li:first-child {
        display: none;
    }
    p {
        text-align: center;
    }
}

.linklist {
    li:hover,
    li:focus {
        background-color: green;
        transition: all 0.25s;
    }
}

//// Menu-specific styling ////
.contact {}

.events {}

.games {
    img {
        float: left;
        max-width: 20vw;
        padding: 1em;
        padidng-left: 0;
        padding-top: 0;
    }
}

.home {
    background-color: #ABC;
}

.records {}

.watch {}

//// Special colors ////